/********* header *********/
.header {
    background-color: $third-color;
    color: $main-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px;

    &__title {
        font-family: 'Poppins', sans-serif;
        display: flex;
        align-items: center;

        >a{
            text-decoration: none;
            color: $main-color;
        }

    }

    .image {
        width: 42px;
        padding: 16px 0 8px  16px;
    }

    img {
        width: 100%;
        // color: $main-color;
    }

    .text {
        font-size: 20px;
        letter-spacing: 4px;
        margin: 0;
        padding: 8px;
    }

}

.shopping {
    .fas {
        color: $main-color;
        font-size: 26px;
        position: relative;
    }

    #display {
        position: absolute;
        top: 26px;
        right: 5px;
        width: 30px;
        text-align: center;
    }

    .displayNumber {  
        font-size: 12px;
        font-weight: bolder;
        color: white;
    }
}