.loader {
    border: solid 2px rgb(214, 199, 228);
    border-right-color: $background;
    border-radius: 50px;
    background-color: white;
    width: 80px;
    height: 80px;
    margin: auto;
    text-align: center;
    margin-top: 25vh;
    animation: loader-rotate 800ms ease-in infinite;

}
.hidden {
    display: none;
}
@keyframes loader-rotate {
    from {
        transform: rotate(0deg);
        box-shadow: 0px 0px 0px grey;
    }
    75% {
        box-shadow: 0px 0px 5px grey;
    }
    to {
        transform: rotate(360deg);
        box-shadow: 0px 0px 0px grey;
    }
}