/********* Produc box *********/
.product {

    &__list {
        background-color: white;
        >a {
            text-decoration: none;
        }

        &:hover {
            box-shadow: 0px 0px 2px $main-color;

        }

    }

    &__single {
        margin: 32px;
        @media screen and (min-width: 600px) {
            display: flex;
        }


    }

    &__image-small {
        padding: 16px;
        text-align: center;

        >img {
            width: 168px;
            height: 120px;
        }

    }

    &__image-big {
        min-width: 210px;
        max-width: 60%;
        margin: auto;
        padding: 0;

        >img {
            width: 100%;
            height: auto;
            
        }
    }
}

.items {
    background-color: darken($third-color, 3%);
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 4px;

    @media screen and (max-width: 425px) {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}


/********* mise en page descriptions produits "infos" *********/
.product {
    &__infos {
        display: flex;
        // justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        flex-wrap: wrap;
        padding: 16px;
        color: $main-color;
    }

    &__infos-details {
        padding: 8px;
        color: $main-color;
    }
}

/********* mise en page couleurs et quantités *********/
.optionsBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 150px;


}

.productName {
    color: $main-color;
    letter-spacing: 0.1em;
    font-size: 20px;
    font-weight: 900;

}

.productPrice,
.productDescription,
.productQuantity,
.productOptions {
    @include textLight;

}

.productDescription {
    padding-bottom: 16px;
}


.addSubButtons button {
    width: 24px;
    padding: 0;
}

.addSubButtons,
.productPrice,
.productOptions {
    margin: 2px 0;
}

.button {
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: $background;
    color: white;
    border: solid 1px $background;
    font-weight: bold;
    font-size: 12px;

    &:hover {
        color: $background;
        background-color: white;
        @include border-light
    }
}