/********* Produc box *********/
.product {

    &__list {
        // @include boxShadow;
        background: $second-color;

        >a {
            text-decoration: none;
        }

        &:hover {
            box-shadow: 0px 0px 2px black;

        }

    }

    &__single {
        @include boxShadow;
        margin: 8px;
        padding: 16px;
        background: $second-color;


    }

    &__image-small {
        padding: 16px;
        text-align: center;

        >img {
            width: 168px;
            height: 120px;
        }

    }

    &__image-big {
        min-width: 210px;
        max-width: 60%;
        margin: auto;
        padding: 8px;

        >img {
            width: 100%;
            height: auto;
        }
    }
}

.items {
    // border: solid red 1px;
    background-color:darken($third-color, 3%);
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2px;
    @media screen and (max-width: 425px) {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}


/********* mise en page descriptions produits "infos" *********/
.product {
    &__infos {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-end;
        flex-wrap: wrap;
        padding: 16px;
        color: $main-color;
    }

    &__infos-details {
        padding: 8px;
        color: $main-color;

        @media screen and (max-width: 425px) {
            text-align: center;
        }
    }
}

/********* mise en page couleurs et quantités *********/
.optionsBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 150px;

    @media screen and (max-width: 425px) {
        margin: auto;
        justify-content: center;
    }
}

.productName {
    color: $main-color;
    letter-spacing: 0.1em;
    font-size: 16px;
    font-weight: 900;

}

.productPrice,
.productDescription,
.productQuantity,
.productOptions {
    @include textLight;

}


.addSubButtons button {
    width: 24px;
}

.addSubButtons,
.productPrice,
.productOptions {
    margin: 4px 0;
}